<script src="/js/strikethrough.js"></script>
<!-- <header>
    <h1>WorldCupFoodie</h1>
    </header>
    test
    <footer>
        <p>WorldCupFoodie ⓒ</p>
     </footer> -->

<div *ngFor="let sI of selectedIngredients; index as i" class="flex">
  <input type="checkbox" id="ckb1" value="1" onclick="my_fun(1);" />
  <span id="my_span1">{{ i + 1 }} {{ sI }}</span>
</div>
<input type="checkbox" id="ckb1" value="1" onclick="my_fun(1);" /><span
  id="my_span1"
  >This is job number 1</span
>

<hr />
<button>
  <a [routerLink]="['/world-cup-matches']" [routerLinkActive]="['link-active']"
    >Go Back to World Cup Matches</a
  >
</button>
